# Папки сборки
cmake-build-*/
build/
out/

# Файлы IDE
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.iml

# Скомпилированные файлы
*.exe
*.dll
*.so
*.dylib
*.obj
*.o
*.a
*.lib

# MOC и UIC (генерируются автоматически)
*_autogen/
moc_*.cpp
ui_*.h
qrc_*.cpp

# Скрытые файлы
.DS_Store
Thumbs.db

# Архивы
*.zip
*.tar.gz
*.rar